@import url('principal.css');
h1 {
    text-align: center;
}

.Plato {
    display: inline-block;
    width: 25%;
    border: 1px solid;
    border-radius: 8px;
    
    text-align: center;
    margin: 10px;
}

.Plato img {
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 5px;
    cursor: pointer;
}

.Plato .precio {
    text-align: right;
    color:red;
    font-size: 1.2em;
    margin: 10px;
}

.menu span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    }

.cabeza{
    background-color: darkgoldenrod;
    color: white;
    text-align: center;
    margin-bottom: 30px ;
    padding: 20px 0;
    grid-column: 1/-1;
}

      