@import url('principal.css');

.titulo-fraunces {
    font-family: "Fraunces", serif;
    color: #410805;
    margin-bottom: 20px;
}

.seccion-contacto {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.info-lado, .formulario-lado {
    flex: 1;
    min-width: 300px;
}

/* Estilos de información */
address p {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

address a {
    color: #410805;
    text-decoration: none;
    font-weight: bold;
}

.mapa-contenedor {
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* Estilos Formulario (Igual que Reservas para ser coherentes) */
.grupo-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.grupo-input label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #410805;
}

.grupo-input input, textarea {
    padding: 12px;
    border: 2px solid #eee;
    border-radius: 8px;
    font-family: inherit;
    transition: 0.3s;
}

.grupo-input input:focus, textarea:focus {
    border-color: #410805;
    outline: none;
}

.btn-enviar {
    width: 100%;
    padding: 15px;
    background-color: #410805;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    letter-spacing: 1.3px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Fraunces", serif;
    transition: 0.3s;
}

.btn-enviar:hover {
    background-color: #5a0b07;
    transform: translateY(-2px);
}

.zona-drop {
    border: 3px dashed #410805;
    padding: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    color: #410805;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}
/* Clase que se añade por JS al arrastrar */
.zona-drop.dragover {
    background-color: #ede9e4;
    border-color: #27ae60;
    transform: scale(1.01);
}

.zona-drop img {
    max-width: 100%;
    max-height: 200px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .seccion-contacto { flex-direction: column; }
}

