/* Responsable: Gloria Gordaliza */

/* Configuración básica y Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f3ede8;
    color: rgb(20,20,20);
}

/* Contenedor flexible para el diseño  */
header {
    background: #410805;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    display: flex; /* Uso de flexbox  */
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(40, 177, 177); /* Color corporativo para interactividad  */
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: rgb(20,20,20);
    margin-bottom: 20px;
}

/* FIN CONFIGURACIÓN BÁSICA */

/* CARRUSEL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 500px; 
  width: 100%;   
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 40px; 
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

/* --- BOTONES DE NAVEGACIÓN --- */

.buttons button#next {
  position: absolute;
  top: 45%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 45%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

/* Media Query para dispositivos móviles */
@media(max-width: 500px) {
  .slider {
    height: 400px; 
  }

  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* Background images */
.slide:first-child {
  background: url('../html/img/slider1.png') no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url('../html/img/slider2.png') no-repeat center center/cover;
}

.slide:nth-child(3) {
  background: url('../html/img/slider3.png') no-repeat center center/cover;
}

.slide:nth-child(4) {
  background: url('../html/img/slider4.jpg') no-repeat center center/cover;
}

.slide:nth-child(5) {
  background: url('../html/img/slider5.jpg') no-repeat center center/cover;
}

.slide:nth-child(6) {
  background: url('../html/img/slider6.jpg') no-repeat center center/cover;
}
/* FIN CARRUSEL */

/* Div texto carta */
.info-carta {
    width: 33.33%;       /* 1/3 del ancho */
    display: flex;
    justify-content: flex-start; /* izquierda */
}
/* FIN Div texto carta */

/* menús */
.elemento-carta1,
.elemento-carta2,
.elemento-carta3 {
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #EDE9E4;
  padding: 45px 30px;
  width: 320px;
  font-family: 'Instrument Sans', sans-serif;
  box-shadow: 0 10px 40px rgba(0,0,0,0.03);
  transition: transform 0.3s ease;
  position: relative;
  padding-bottom: 70px;
}

.elemento-carta1:hover,
.elemento-carta2:hover,
.elemento-carta3:hover {
  transform: translateY(-5px);
}

.carta1-inner,
.carta2-inner,
.carta3-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.principal-titulo,
.completo-titulo,
.postre-titulo {
  font-size: 26px;
  color: #141414;
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.principal-lista,
.completo-lista,
.postre-lista {
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
}

.principal-lista li,
.completo-lista li,
.postre-lista li {
  font-size: 17px;
  color: #485463;
  margin-bottom: 12px;
}

/* precios cartas*/

.contedor-principal-precio,
.contedor-completo-precio,
.contedor-postre-precio {
  margin-top: auto;
  text-align: center;
  position: absolute;
  bottom: 30px; 
  left: 50%;
  transform: translateX(-50%); /* porque no me deja con otra opción*/
}

.principal-precio,
.completo-precio,
.postre-precio {
  font-size: 16px;
  color: #3e3e3e;
}

.principal-precio .amount,
.completo-precio .amount,
.postre-precio .amount {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  margin-left: 5px;
}


.contenedor-carta {
    display: flex;    
    gap: 30px;         
    justify-content: center; 
}

@media (max-width: 768px) {
  .contenedor-cartas {
      flex-direction: column;
  }
}
/* FIN menús */

/* botón carta/contacto */
.boton-carta,
.boton-contacto {
  display: flex;
  justify-content: center; /* centra el botón */
  margin: 40px 0;
}

.btn-ver-carta,
.btn-ver-contacto {
  display: inline-block;
  padding: 14px 40px;
  background-color: #410805; 
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-ver-carta:hover,
.btn-ver-contacto:hover {
  background-color: #5a0b07;
  transform: translateY(-2px);
}
/* FIN botón carta/contacto */

/* texto div */
.contenedor-texto {
  width: 100%;
  background-color: #d8c4b6; 
  padding: 40px;
  text-align: center;
  font-family: 'Instrument Sans', sans-serif;
  color: #2b2b2b;
  font-size: 32px; 
}

.contenedor-texto h2 {
  font-size: 16px;
  color: #410805; 
  margin-bottom: 0px;
  letter-spacing: 2px;
  margin-top: 30px;
}

.contenedor-texto i,
.contenedor-texto span {
  color: #410805;
  font-weight: 600;
}
/* FIN texto div */
