
.galeria-fotos{
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
}

.fotos{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
}

.fotos img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.botones-fotos{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.botones-fotos button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: white;
    border: none;  
}

.puntos{
    position: absolute;
    bottom: 10px;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.puntos li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

.puntos li.activo{
    width: 30px;

/* Responsable: Gloria Gordaliza */

/* Configuración básica y Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: rgb(20,20,20);
}

/* Contenedor flexible para el diseño  */
header {
    background: #410805;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    display: flex; /* Uso de flexbox  */
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(40, 177, 177); /* Color corporativo para interactividad  */
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: rgb(20,20,20);
    margin-bottom: 20px;
}